
.footer {
    grid-area: footer;
    background-color: #000000;
    justify-content: center;
    .footer__Span {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 0px;
        .footer__Ul {
            text-align: center;
            font-size: 1rem;
            font-family: koulen;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            color: rgb(255, 255, 255);
            height: 100%;
            padding-top: 1rem;
            .footer__Ul-Li {
                display: inline;
                padding: 0px 1rem;
            }
        }
    }
}

