.hero {
    grid-area: hero;
    position: relative;
    background-image: url(../assets/fondedelhero.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 90vh;
    width: 100%;
    }

    .hero__Titulo {
        width: 80%;
        color: rgb(255, 255, 255);
        font-family: Playfair Dispair;
        font-size: 2rem;
        margin: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


