.lateral {
    grid-area: lateral;
    margin-top: -5px;
    height: 105%;
    width: 100%;
    display: flex;
    flex-direction: column;
    .lateral__Titulo {
        color: rgb(0, 0, 0);
        font-family: koulen;
        font-size: 3rem;
        margin-top: 150px;
        margin-right: 20px;
    }
    .lateral__Lista {
        font-family: koulen;
        color: black;
        font-size: 25px;
        list-style-type: none;
        padding-left: 20px;
        .lateral__Lista--Item {
            padding-top: 40px;
        }
    }
    
}

