/*MEDIA QUERIE SOLO PARA DISPOSITIVOS PEQUEÑOS. EL RESTO RESPONSIVE CON BOOOTSTRAP*/

@media screen and (max-width: 480px) {

    .index__Main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas: "hero"
                             "onda"
                             "recetas"
                             "fotos"
                             "onda2"
                             "reseña"
                             "recomendada";
    }

    .onda1 {
        background: rgb(255, 255, 255);
        grid-area: onda;
        display: flex;
        flex-direction: column;
    }

    .nav__Div--Imagen {
        width: 100%;
        filter: invert(100%);
        margin-left: 1.0rem;
        margin-right: 1.5rem;
    }

    .lateral {
        display: none;
    }

    .publicidad {
        display: none;
    }

    .div__Recetas {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    .footer__Ul {
        text-align: center;
        font-size: 1rem;
        font-family: koulen;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        color: rgb(255, 255, 255);
        height: 100%;
        padding-top: 1rem;
    }
}