.nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #000000;
    z-index: 99;
    position: sticky;
    top: 0px;
    .nav__Imagen {
        width: 10%;
        filter: invert(100%);
        margin-left:1.5rem;
    }
    .nav-link {
        font-family:Lobster;
        font-size: 20px;
        color: #ffffff;
    }
    .nav-link:hover {
        color: rgb(130, 228, 126);
    }
}




