/*PAGINA DE LAS RECETAS*/

.precetas__Body {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: "nav"
                         "main"
                         "footer"
}

/*ORGANIZACION DEL CUERPO*/

.recetas__Main {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "hero hero"
                         "onda onda"
                         "recetas publi"
                         "fotos lateral"
                         "onda2 onda2"
                         "recetas2 recetas2";
}

/*CAROUSEL CON IMAGENES DE RECETAS INICIAL */

.precetas__Carousel {
    grid-area: hero;
    .precetas__Carousel--Imagen{
        height: 70vh;
        object-fit: cover;
    }
    
    .pcarousel__Titulo {
        font-family: Lobster;
        font-size: 2rem;
        color: red;
        text-align: center;
    }
    
    .pcarousel__Parrafo {
        font-family: Lobster;
        margin: 0.5rem;
    }
    
    .pcarousel__Anchore {
        text-decoration: none;
        margin: 0.5rem;
    }
    
    .pcarousel__Anchore :hover {
        font-size: 3rem;
    }
}


/*Onda en las recetas*/

.div__ondarecetas {
    grid-area: onda;
}

/* Cards de 3 recetas rapidas con un titulo*/

.psection__Recetas{
    grid-area: recetas;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 0rem 3rem 3rem 3rem;
    .psection__Recetas--Titulo {
        text-align: center;
        font-family: lobster;
    }
}



/*BARRA LATERAL DE LA PAGINA DE RECETAS*/

/*Receta Destacada*/

.div__Recetadestacada {
    grid-area: fotos;
    margin: 0rem 1rem 1rem 1rem;
}

.recetadestacada__Imagen {
    padding: 2rem;
}

.div__Recetadestacada--Texto {
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    font-size: 1rem;
}

.div__Recetadestacada--Titulo {
    font-size: 3rem;
}

/*Seunda Onda*/

.recetas__Onda2 {
    grid-area: onda2;
}

/*SEGUNDA PARTE DE RECETAS*/

.psection__Recetas2 {
    grid-area: recetas2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem 3rem 3rem 3rem;
}

/*MEDIA QUERIE SOLO PARA DISPOSITIVOS PEQUEÑOS. EL RESTO RESPONSIVE CON BOOOTSTRAP*/

@media screen and (max-width: 1024px) {

    .recetas__Main {
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-template-areas: "nav"
                         "hero"
                         "onda"
                         "recetas"
                         "fotos"
                         "onda2"
                         "recetas2"
                         "footer";
}

    .nav__Div--Imagen {
        width: 100%;
        filter: invert(100%);
        margin-left: 1.0rem;
        margin-right: 1.5rem;
    }

    .plateral {
        display: none;
    }

    .psection__Publicidad {
        display: none;
    }

    .psection__Recetas {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    .div__Recetadestacada {
        grid-area: fotos;
        display: flex;
        flex-direction: column;
    }

    .psection__Recetas2 {
        grid-area: recetas2;
    }

}