.section__Publicidad {
    grid-area: publi;
    padding-top: 5px;
    background: rgb(222,54,54);
    background: linear-gradient(180deg, rgba(222,54,54,1) 18%, rgba(219,129,65,1) 66%, rgba(219,177,148,1) 97%);
    .&__&--Anchore {
        text-decoration: none;
    }
    .&__&--Div {
        margin: 10px;
        .&__&--Text {
            font-family: Fascinate;
            text-align: center;
            color: #000000;
            font-size: 20px;
        }
    }
    
}

