$textobase:(
    tamaño: 1rem,
    color: black,
    letra: Lobster,
);


.reseñas {
    grid-area: reseña;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #db8141;
    padding: 3rem;
    .reseñas__Titulo {
        font-family: Playfair Display;
        font-size: 3rem;
        padding-bottom: 3rem;
        text-decoration: none;
        color: rgb(0, 0, 0);
        .reseñas__Titulo :hover {
            font-size: 4rem;
        }
    }

    .reseñas__Div--Parrafo {
        font-size: map-get($map: $textobase, $key: tamaño);
        color: map-get($map: $textobase, $key: color);
        font-family: map-get($map: $textobase, $key:letra )
    }
    
    .reseñas__Anchore {
        padding-top: 2rem;
        text-decoration: none;
        color: #000000;
    }
    .reseñas__Anchore :hover {
        font-size: 1.5rem;
        color: #000000;
    }
}
