@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Concert+One&family=Fascinate&family=Joan&family=Koulen&family=Lobster&family=Macondo&family=Open+Sans:wght@300&family=Playfair+Display:ital,wght@1,500&family=Rubik+Glitch&family=Tapestry&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Body del index"*/

.index__Body {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: "nav"
                         "main"
                         "footer"
}


/*Barra de Navegacion*/

.nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #000000;
}

.nav-link {
    font-family:Lobster;
    font-size: 20px;
    color: #ffffff;
}

.nav-link:hover {
    color: rgb(130, 228, 126);
}

.nav__Imagen {
    width: 10%;
    filter: invert(100%);
    margin-left:1.5rem;
}

/*Estructura del main*/
.index__Main {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: "hero hero"
                         "onda publi"
                         "recetas lista"
                         "fotos lista"
                         "onda2 onda2"
                         "reseña reseña"
                         "recomendada recomendada";
}



/*Hero section */

.hero {
    grid-area: hero;
    position: relative;
    height: 85vh;
    width: 100%;
    background-image: url(../assets/fondedelhero.jpg);   
}

.hero__Titulo {
    color: rgb(255, 255, 255);
    font-family: Lobster;
    font-size: 40px;
    position: absolute;
}


/*Svg de Onda*/

.onda1 {
    background: rgb(255, 255, 255);
    @include: centrado;
    grid-area: onda;
}

.onda1__Titulo {
    font-family: Koulen;
        font-size: 3rem;
        color:#000000;
        padding: 2rem;
}

.onda1__Titulo:hover {
    font-size: 4rem;
}

.onda1__Parrafo {
    font-family: Lobster;
    font-size: 2rem;
    padding: 0px 50px 0px 50px;
}

/*Seccion Lateral*/

.lateral {
    grid-area: lista;
    margin-top: -5px;
    width: 100%;
    display: flex;
    flex-direction: column;
}  

.lateral__Titulo {
    color: rgb(0, 0, 0);
    font-family: koulen;
    font-size: 3rem;
    margin-top: 150px;
    margin-right: 20px;
}

.lateral__Lista {
    font-family: koulen;
    color: black;
    font-size: 25px;
    list-style-type: none;
    padding-left: 20px;
}

.lateral__Lista--Item {
    padding-top: 40px;
}

/*Seccion Publicidad*/
.publicidad {
    grid-area: publi;
    padding-top: 5px;
    background: rgb(222,54,54);
    background: linear-gradient(180deg, rgba(222,54,54,1) 18%, rgba(219,129,65,1) 66%, rgba(219,177,148,1) 97%);
}

.publicidad__Anchore {
    text-decoration: none;
}
.publicidad__Div {
    margin: 10px;
}
.publicidad__Texto {
    font-family: Fascinate;
    text-align: center;
    color: #000000;
    font-size: 20px;
}


/*Seccion de las Recetas*/

.section__Recetas {
    grid-area: recetas;
    margin-top: -5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.section__Recetas--Anchore {
    text-decoration: none;
}

.section__Recetas--Texto {
    font-family: Lobster;
    font-size: 3rem;
    padding-left: 50px;
    color: rgb(0, 0, 0);
}

.seccion__Recetas--Parrafo{
    font-family: Lobster;
    font-size: 1.5rem;
    color: #000000;
    padding-left: 50px;
}

.div__Recetas {
    display: flex;
    align-items: baseline;
}

.article__Recetas {
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.article__Recetas--Anchore {
    height: 50%;
    width: 80%;
}

.article__Recetas--Imagen {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    transition: width 5s; height: 5s;
}

.article__Recetas--Imagen:hover{
    height: 110%;
    width: 110%;
}

.article__Recetas--Texto {
    display: flex;
    padding: 30px;
    font-family: Playfair Display;
    flex-direction: column;
    align-items: center;
}


/*Carrousel con fotos*/

.carrousel {
    grid-area: fotos;
}

.carrousel__Div {
    display: flex;
    padding: 20px;
}

.carrousel__Fotos {
    height: 500px;
    width: 100%;
}

.carrousel__Titulo {
    font-family: Lobster;
    font-size: 20px;
    color: red;
    padding: 10px 5px 5px 5px;
}

.carrousel__Parrafo {
    font-family: Loan;
}

/*Seccion de la segunda onda */

.onda2{
    grid-area: onda2;
}

.div__Onda2--Svg {
    height: 50px;
}

/*Seccion de las Reseñas */

.reseñas {
    grid-area: reseña;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #db8141;
    padding: 3rem;
}
.reseñas__Titulo {
    font-family: Playfair Display;
    font-size: 3rem;
    padding-bottom: 3rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.reseñas__Titulo :hover {
    font-size: 4rem;
}

.reseñas__Anchore {
    padding-top: 2rem;
    text-decoration: none;
    color: #000000;
}

.reseñas__Anchore :hover {
    font-size: 1.5rem;
    color: #000000;
}


/*Seccion de la Comida recomendada del mes*/

.recomendada {
    grid-area: recomendada;
    height: 500px;
    width: 100%;
}

.recomendada__Imagen {
    opacity: 50%;
    object-fit: fill;
    height: 100%;
    width: 100%;
}

.recomendada__Textos {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    justify-content: space-between;
    color: #f8f8f8;
    font-family: Bungee;
}

.recomendada__Anchore {
    text-decoration: none;
}

.recomendada__Anchore :hover {
    font-size: 4rem;
}

/*Footer con datos*/

.footer {
    grid-area: footer;
    background-color: #000000;
    justify-content: center;
}

.footer__Span {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0px;
}

.footer__Ul {
    text-align: center;
    font-size: 1rem;
    font-family: koulen;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    height: 100%;
    padding-top: 1rem;
}

.footer__Ul-Li {
    display: inline;
    padding: 0px 1rem;
}



/*MEDIA QUERIE SOLO PARA DISPOSITIVOS PEQUEÑOS. EL RESTO RESPONSIVE CON BOOOTSTRAP*/

@media screen and (max-width: 480px) {

    .index__Main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas: "hero"
                             "onda"
                             "recetas"
                             "fotos"
                             "onda2"
                             "reseña"
                             "recomendada";
    }

    .nav__Div--Imagen {
        width: 100%;
        filter: invert(100%);
        margin-left: 1.0rem;
        margin-right: 1.5rem;
    }

    .lateral {
        display: none;
    }

    .publicidad {
        display: none;
    }

    .div__Recetas {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    .footer__Ul {
        text-align: center;
        font-size: 1rem;
        font-family: koulen;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        color: rgb(255, 255, 255);
        height: 100%;
        padding-top: 1rem;
    }
}

/*PAGINA DE LAS RECETAS*/

/*ORGANIZACION DEL CUERPO*/

.precetas__Body {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-template-areas: "nav nav"
                         "hero hero"
                         "onda onda"
                         "recetas publi"
                         "fotos lateral"
                         "onda2 onda2"
                         "recetas2 recetas2"
                         "recomendada recomendada"
                         "footer footer";
}

/*CAROUSEL CON IMAGENES DE RECETAS INICIAL */

.precetas__Carousel {
    grid-area: hero;
    height: 700px;
}

.precetas__Carousel--Imagen{
    height: 500px;
}

.pcarousel__Titulo {
    font-family: Lobster;
    font-size: 2rem;
    color: red;
    padding: 2rem 1rem 1rem 1rem;
    text-align: center;
}

.pcarousel__Parrafo {
    font-family: Loan;
}

.pcarousel__Anchore {
    text-decoration: none;
}

.pcarousel__Anchore :hover {
    font-size: 3rem;
}

/*Onda en las recetas*/

.div__ondarecetas {
    grid-area: onda;
    height: 10rem;
}

/* Cards de 3 recetas rapidas con un titulo*/

.psection__Recetas{
    grid-area: recetas;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 0rem 3rem 3rem 3rem;
}

.psection__Recetas--Titulo {
    text-align: center;
    font-family: lobster;
}


/*BARRA LATERAL DE LA PAGINA DE RECETAS*/

.plateral {
    grid-area: lateral;
    margin-top: -5px;
    height: 105%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*Receta Destacada*/

.div__Recetadestacada {
    grid-area: fotos;
    margin: 0rem 1rem 1rem 1rem;
}

.recetadestacada__Imagen {
    padding: 2rem;
}

.div__Recetadestacada--Texto {
    display: flex;
    margin: 2rem;
    flex-direction: column;
    justify-content: space-around;
    text-align: end;
    font-size: 20px;
}

.div__Recetadestacada--Titulo {
    font-size: 3rem;
}

/*Seunda Onda*/

.recetas__Onda2 {
    grid-area: onda2;
    height: 10rem;
}

/*SEGUNDA PARTE DE RECETAS*/

.psection__Recetas2 {
    grid-area: recetas2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem 3rem 3rem 3rem;
}

/*FOOTER DE LA PAGINA DE LAS RECETAS*/

.rnav__Footer {
    grid-area: footer;
    background-color: #000000;
    justify-content: center;
}


/*MEDIA QUERIE SOLO PARA DISPOSITIVOS PEQUEÑOS. EL RESTO RESPONSIVE CON BOOOTSTRAP*/

@media screen and (max-width: 480px) {

    .precetas__Body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
        grid-template-areas: "nav"
                             "hero"
                             "texto"
                             "onda"
                             "recetas"
                             "fotos"
                             "onda2"
                             "recetas2"
                             "recomendada"
                             "footer";
    }

    .nav__Div--Imagen {
        width: 100%;
        filter: invert(100%);
        margin-left: 1.0rem;
        margin-right: 1.5rem;
    }

    .plateral {
        display: none;
    }

    .psection__Publicidad {
        display: none;
    }

    .psection__Recetas {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    .div__Recetadestacada {
        grid-area: fotos;
    }

    .psection__Recetas2 {
        grid-area: recetas2;
    }

    .rnav__Footer {
        text-align: center;
        font-size: 1rem;
        font-family: koulen;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        color: rgb(255, 255, 255);
        height: 100%;
        padding-top: 1rem;
    }
}


/*PAGINA DE CONTACTO*/

/*CUERPO DEL CONTACTO*/

.contacto__body { 
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto 100px auto auto;
    grid-template-areas: "nav"
                         "titulo"
                         "info1"
                         "footer"
}

.contacto__Header {
    grid-area: nav;
    background-color: rgb(7, 3, 3);
    position: sticky;
    top: 0px;
    z-index: 99;
}

.contacto__Div {
    grid-area: titulo;
    font-family: Koulen;
    font-size: 40px;
    padding: 10px;
    background-color: #bbb5b1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__Titulo--Contacto {
    font-size: 60px;
    padding: 15px;
}

.contacto__Main {
    grid-area: info1;
    padding: 50px;
    background-image: url(../assets/imagenfondotexto.jpg);
}

.contacto__Section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Section__Div {
    padding: 10px;
}

.contacto__footer {
        grid-area: footer;
        background-color: black;
    }
    
    .footer__Ul {
        text-align: center;
        font-size: 20px;
        font-family: koulen;
        color: beige;
        height: 100%;
        padding-top: 10px;
    }
    
    .ul__Li {
        display: inline;
        padding: 0px 20px;
    }

/*MEDIA QUERIE (bajo)*/
/*@media screen and (max-width: 650px)*/
    .contacto__body { 
        display: grid;
        grid-template-columns:auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "nav"
                             "titulo"
                             "info1"
                             "footer"
    }

    .contacto__Section {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .Section__Div {
        padding: 5px;
    }

    .footer__Ul {
        text-align: center;
        font-size: 20px;
        font-family: koulen;
        color: beige;
        height: 100%;
        padding-top: 10px;
    }

    .footer__Ul {
        text-align: center;
        font-size: 10px;
        font-family: koulen;
        color: beige;
        height: 100%;
        padding-top: 10px;
    }


/* PAGINA DE LAS VALORACIONES */

/*ORGANIZACION DEL CUERPO */

.valoraciones__Body {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-template-areas: "nav nav"
                         "hero hero"
                         "valora publi"
                         "valora publi"
                         "onda2 onda2"
                         "recomendada recomendada"
                         "footer footer";
}

/*SECCION DEL HERO DE LA PAGINA DE VALORACIONES*/

.valoraciones__SectionHero {
    grid-area: hero;
    height: 50vh;
}

.valoraciones__Hero--Div {
    height: 100%;
}

.valoraciones__section--Imagen {
    width: 100%;
    height: 100%;
}   

/*PUBLICIDAD EN LAS VALORACIONES*/

.publicidad__Div2 {
    background-image: url(../assets/cocacola.jpg);
    height: 10rem;
    background-position: center;
    background-size: cover;
    margin: 2rem;
}

.publicidad__Texto2 {
    font-family: Fascinate;
    text-decoration: none;
    text-align: center;
    color: #000000;
    font-size: 20px;
}


/*PRIMER GRUPO DE VALORACIONES*/

.valoraciones__Div--Reseñas {
    grid-area: valora;
    padding: 2rem;
}

.valoraciones__Card--Imagen {
    height: 100%;
}

.valoraciones__Card--Imagen :hover {
    height: 90%;
}

/*ONDA SEPARADORA*/

.valoraciones__Onda {
    grid-area: onda2;
    height: 150px;
}

.section__Publicidad {
    grid-area: publi;
}

.section__Publicidad--Anchore {
    padding: 2rem;
}

/* LUGAR RECOMENDADO DE LA SEMANA*/

.recomendada__Div {
    grid-area: recomendada;
}


/*MEDIA QUERIE SOLO PARA DISPOSITIVOS PEQUEÑOS. EL RESTO RESPONSIVE CON BOOOTSTRAP*/

@media screen and (max-width: 480px) {

    .valoraciones__Body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
        grid-template-areas: "nav"
                            "hero"
                            "valora"
                            "onda2"
                            "recomenda"
                            "footer"
    }

    .nav__Div--Imagen {
        width: 100%;
        filter: invert(100%);
        margin-left: 1.0rem;
        margin-right: 1.5rem;
    }

    .plateral {
        display: none;
    }

    .psection__Publicidad {
        display: none;
    }

    .recomendada__Div {
        grid-area: recomenda;
    }
}

/* PAGINA DE LOS CURSOS */

/*CUERPO GENERAL DE LOS CURSOS*/

.cursos__Body {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-template-areas: "nav nav"
                         "hero hero"
                         "onda onda"
                         "recetas publi"
                         "fotos lateral"
                         "onda2 onda2"
                         "recetas2 recetas2"
                         "recomendada recomendada"
                         "footer footer";
}

/*MAIN DE LOS CURSOS*/

.Main {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-template-areas: "hero hero"
                         "consejo consejo"
                         "onda1 onda1"
                         "cursos publi"
                         "cursos lateral"
                         "recomendada recomendada";
}

/*HERO SECTION DE LOS CURSOS*/

.cursos__Hero {
    background-image: url(../assets/clasedecocina.jpg);
    background-position: center;
}