@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Concert+One&family=Fascinate&family=Joan&family=Koulen&family=Lobster&family=Macondo&family=Open+Sans:wght@300&family=Playfair+Display:ital,wght@1,500&family=Rubik+Glitch&family=Tapestry&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.index__Body {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas: "nav" "main" "footer"; }

.nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: #000000;
  z-index: 99;
  position: sticky;
  top: 0px; }
  .nav .nav__Imagen {
    width: 10%;
    filter: invert(100%);
    margin-left: 1.5rem; }
  .nav .nav-link {
    font-family: Lobster;
    font-size: 20px;
    color: #ffffff; }
  .nav .nav-link:hover {
    color: #82e47e; }

/*Estructura del main*/
.index__Main {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-areas: "hero hero" "onda onda" "recetas publi" "fotos lateral" "onda2 onda2" "reseña reseña" "recomendada recomendada"; }

.hero {
  grid-area: hero;
  position: relative;
  background-image: url(../assets/fondedelhero.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 90vh;
  width: 100%; }

.hero__Titulo {
  width: 80%;
  color: white;
  font-family: Playfair Dispair;
  font-size: 2rem;
  margin: 5rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center; }

/*Svg de Onda*/
.onda1 {
  background: white;
  grid-area: onda;
  display: flex;
  align-items: center;
  justify-content: center; }

.onda1__Titulo {
  font-family: Koulen;
  font-size: 3rem;
  color: #000000;
  padding: 2rem; }

.onda1__Titulo:hover {
  font-size: 4rem; }

.onda1__Parrafo {
  font-family: Lobster;
  font-size: 2rem;
  padding: 0px 50px 0px 50px; }

/*Seccion Lateral*/
.lateral, .plateral {
  grid-area: lateral;
  margin-top: -5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.808); }
  .lateral .lateral__Titulo, .plateral .lateral__Titulo, .plateral .plateral__Titulo {
    color: #fdfdfd;
    font-family: koulen;
    font-size: 3rem;
    margin: 2rem; }
  .lateral .lateral__Lista, .plateral .lateral__Lista, .plateral .plateral__Lista {
    font-family: koulen;
    color: white;
    font-size: 25px;
    list-style-type: none;
    padding-left: 20px;
    justify-content: space-between; }
    .lateral .lateral__Lista .lateral__Lista--Item, .plateral .lateral__Lista .lateral__Lista--Item, .plateral .plateral__Lista .lateral__Lista--Item, .plateral .plateral__Lista .plateral__Lista--item {
      padding-top: 40px; }

.publicidad {
  grid-area: publi;
  padding-top: 5px;
  background: #de3636;
  background: linear-gradient(180deg, #de3636 18%, #db8141 66%, #dbb194 97%); }
  .publicidad .publicidad__Anchore {
    text-decoration: none; }
  .publicidad .publicidad__Div {
    margin: 10px; }
  .publicidad .publicidad__Texto {
    font-family: Fascinate;
    text-align: center;
    color: #000000;
    font-size: 20px; }

.section__Recetas {
  grid-area: recetas;
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  justify-content: center;
  width: 100%; }
  .section__Recetas .section__Recetas--Anchore {
    text-decoration: none; }
  .section__Recetas .section__Recetas--Texto {
    font-family: Lobster;
    font-size: 3rem;
    padding-left: 50px;
    color: black; }
  .section__Recetas .seccion__Recetas--Parrafo {
    font-family: Lobster;
    font-size: 1.5rem;
    color: black;
    padding-left: 50px; }
  .section__Recetas .div__Recetas {
    display: flex;
    align-items: baseline; }
    .section__Recetas .div__Recetas .article__Recetas {
      height: 450px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center; }
      .section__Recetas .div__Recetas .article__Recetas .article__Recetas--Anchore {
        height: 15rem;
        width: 15rem; }
      .section__Recetas .div__Recetas .article__Recetas .article__Recetas--Imagen {
        height: 100%;
        width: 100%;
        border-radius: 50px;
        transition: width 5s;
        height: 5s; }
      .section__Recetas .div__Recetas .article__Recetas .article__Recetas--Imagen:hover {
        height: 105%;
        width: 105%; }
      .section__Recetas .div__Recetas .article__Recetas .article__Recetas--Texto {
        display: flex;
        padding: 30px;
        font-family: Lobster;
        flex-direction: column;
        align-items: center;
        color: black; }

.carrousel {
  grid-area: fotos; }
  .carrousel .carrousel__Div {
    display: flex;
    padding: 20px; }
    .carrousel .carrousel__Div .carrousel__Fotos {
      height: 500px;
      width: 100%;
      border-radius: 30%; }
    .carrousel .carrousel__Div .carrousel__Titulo {
      font-family: Lobster;
      font-size: 20px;
      color: red;
      padding: 10px 5px 5px 5px; }
    .carrousel .carrousel__Div .carrousel__Parrafo {
      font-size: 1rem;
      font-family: Lobster; }

/*Seccion de la segunda onda */
.onda2 {
  grid-area: onda2; }
  .onda2 .div__Onda2--Svg {
    height: 50px; }

.reseñas {
  grid-area: reseña;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #db8141;
  padding: 3rem; }
  .reseñas .reseñas__Titulo {
    font-family: Playfair Display;
    font-size: 3rem;
    padding-bottom: 3rem;
    text-decoration: none;
    color: black; }
    .reseñas .reseñas__Titulo .reseñas__Titulo :hover {
      font-size: 4rem; }
  .reseñas .reseñas__Div--Parrafo {
    font-size: 1rem;
    color: black;
    font-family: Lobster; }
  .reseñas .reseñas__Anchore {
    padding-top: 2rem;
    text-decoration: none;
    color: #000000; }
  .reseñas .reseñas__Anchore :hover {
    font-size: 1.5rem;
    color: #000000; }

.recomendada {
  grid-area: recomendada;
  height: 500px;
  width: 100%; }
  .recomendada .recomendada__Imagen {
    opacity: 50%;
    object-fit: fill;
    height: 100%;
    width: 100%; }
  .recomendada .recomendada__Textos {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    justify-content: space-between;
    color: #f8f8f8;
    font-family: Bungee; }
    .recomendada .recomendada__Textos .recomendada__Anchore {
      text-decoration: none; }
    .recomendada .recomendada__Textos .recomendada__Anchore :hover {
      font-size: 4rem; }

.footer {
  grid-area: footer;
  background-color: #000000;
  justify-content: center; }
  .footer .footer__Span {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0px; }
    .footer .footer__Span .footer__Ul {
      text-align: center;
      font-size: 1rem;
      font-family: koulen;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      color: white;
      height: 100%;
      padding-top: 1rem; }
      .footer .footer__Span .footer__Ul .footer__Ul-Li {
        display: inline;
        padding: 0px 1rem; }

/*MEDIA QUERIE SOLO PARA DISPOSITIVOS PEQUEÑOS. EL RESTO RESPONSIVE CON BOOOTSTRAP*/
@media screen and (max-width: 480px) {
  .index__Main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: "hero" "onda" "recetas" "fotos" "onda2" "reseña" "recomendada"; }
  .nav__Div--Imagen {
    width: 100%;
    filter: invert(100%);
    margin-left: 1.0rem;
    margin-right: 1.5rem; }
  .lateral, .plateral {
    display: none; }
  .publicidad {
    display: none; }
  .div__Recetas {
    display: flex;
    flex-direction: column;
    align-items: baseline; }
  .footer__Ul {
    text-align: center;
    font-size: 1rem;
    font-family: koulen;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 100%;
    padding-top: 1rem; } }

/*PAGINA DE LAS RECETAS*/
.precetas__Body {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas: "nav" "main" "footer"; }

/*ORGANIZACION DEL CUERPO*/
.recetas__Main {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "hero hero" "onda onda" "recetas publi" "fotos lateral" "onda2 onda2" "recetas2 recetas2"; }

/*CAROUSEL CON IMAGENES DE RECETAS INICIAL */
.precetas__Carousel {
  grid-area: hero; }
  .precetas__Carousel .precetas__Carousel--Imagen {
    height: 70vh;
    object-fit: cover; }
  .precetas__Carousel .pcarousel__Titulo {
    font-family: Lobster;
    font-size: 2rem;
    color: red;
    text-align: center; }
  .precetas__Carousel .pcarousel__Parrafo {
    font-family: Lobster;
    margin: 0.5rem; }
  .precetas__Carousel .pcarousel__Anchore {
    text-decoration: none;
    margin: 0.5rem; }
  .precetas__Carousel .pcarousel__Anchore :hover {
    font-size: 3rem; }

/*Onda en las recetas*/
.div__ondarecetas {
  grid-area: onda; }

/* Cards de 3 recetas rapidas con un titulo*/
.psection__Recetas {
  grid-area: recetas;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 0rem 3rem 3rem 3rem; }
  .psection__Recetas .psection__Recetas--Titulo {
    text-align: center;
    font-family: lobster; }

/*BARRA LATERAL DE LA PAGINA DE RECETAS*/
.plateral {
  background-color: #cc6f04; }
  .plateral .plateral__Titulo {
    color: black; }
  .plateral .plateral__Lista {
    color: #0a0301; }

/*Receta Destacada*/
.div__Recetadestacada {
  grid-area: fotos;
  margin: 0rem 1rem 1rem 1rem; }

.recetadestacada__Imagen {
  padding: 2rem; }

.div__Recetadestacada--Texto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  font-size: 1rem; }

.div__Recetadestacada--Titulo {
  font-size: 3rem; }

/*Seunda Onda*/
.recetas__Onda2 {
  grid-area: onda2; }

/*SEGUNDA PARTE DE RECETAS*/
.psection__Recetas2 {
  grid-area: recetas2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem 3rem 3rem 3rem; }

/*MEDIA QUERIE SOLO PARA DISPOSITIVOS PEQUEÑOS. EL RESTO RESPONSIVE CON BOOOTSTRAP*/
@media screen and (max-width: 1024px) {
  .recetas__Main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-template-areas: "nav" "hero" "onda" "recetas" "fotos" "onda2" "recetas2" "footer"; }
  .nav__Div--Imagen {
    width: 100%;
    filter: invert(100%);
    margin-left: 1.0rem;
    margin-right: 1.5rem; }
  .plateral {
    display: none; }
  .psection__Publicidad {
    display: none; }
  .psection__Recetas {
    display: flex;
    flex-direction: column;
    align-items: baseline; }
  .div__Recetadestacada {
    grid-area: fotos;
    display: flex;
    flex-direction: column; }
  .psection__Recetas2 {
    grid-area: recetas2; } }

/* PAGINA DE LAS VALORACIONES */
/*ORGANIZACION DEL CUERPO */
.valoraciones__Body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "nav" "main" "footer"; }

/*ORGANIZACION DEL MAIN */
.valoraciones__Main {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  grid-template-areas: "nav nav" "hero hero" "valora publi" "valora publi" "onda2 onda2" "video video" "recomendada recomendada" "footer footer"; }

/*SECCION DEL HERO DE LA PAGINA DE VALORACIONES*/
.valoraciones__SectionHero {
  grid-area: hero;
  height: 50vh; }

.valoraciones__Hero--Div {
  height: 100%; }

.valoraciones__section--Imagen {
  width: 100%;
  height: 100%; }

/*PUBLICIDAD EN LAS VALORACIONES*/
.publicidad__Div2 {
  background-image: url(../assets/cocacola.jpg);
  height: 10rem;
  background-position: center;
  background-size: cover;
  margin: 2rem; }

.publicidad__Texto2 {
  font-family: Fascinate;
  text-decoration: none;
  text-align: center;
  color: #000000;
  font-size: 20px; }

/*PRIMER GRUPO DE VALORACIONES*/
.valoraciones__Div--Reseñas {
  grid-area: valora;
  padding: 2rem; }

.valoraciones__Card--Imagen {
  height: 100%; }

.valoraciones__Card--Imagen :hover {
  height: 90%; }

/*ONDA SEPARADORA*/
.valoraciones__Onda {
  grid-area: onda2;
  height: 150px; }

.section__Publicidad {
  grid-area: publi; }

.section__Publicidad--Anchore {
  padding: 2rem; }

/*VIDEOS DEL RECORRIDO DE RESTAURANTES*/
.valoraciones__Sectionvideo {
  grid-area: video;
  font-family: Koulen;
  display: flex;
  flex-direction: column;
  align-items: center; }

.valoraciones__Sectionvideo--Div {
  display: flex;
  justify-content: space-between; }

.valoraciones__Iframe {
  display: inline-block;
  margin-left: 1rem; }

/* LUGAR RECOMENDADO DE LA SEMANA*/
.recomendada__Div {
  grid-area: recomendada; }

.recomendada__Div--Textos {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.recomendada__Div--Imagen {
  opacity: 0.3; }

.recomendada__Div__Anchore {
  text-decoration: none;
  font-size: 3rem; }

.recomendada__Div__Texto {
  color: #ccd2e9;
  font-family: koulen;
  font-size: 1.5rem; }

/*MEDIA QUERIE SOLO PARA DISPOSITIVOS PEQUEÑOS. EL RESTO RESPONSIVE CON BOOOTSTRAP*/
@media screen and (max-width: 1024px) {
  /*ORGANIZACION DEL MAIN */
  .valoraciones__Main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-template-areas: "nav" "hero" "valora" "valora" "onda2" "video" "recomendada" "footer"; }
  .plateral {
    display: none; }
  .publicidad {
    display: none; }
  .valoraciones__Sectionvideo--Div {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .recomendada__Div {
    grid-area: recomendada; } }

/* PAGINA DE LOS CURSOS */
/*CUERPO GENERAL DE LOS CURSOS*/
.cursos__Body {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas: "nav" "main" "footer"; }

/*MAIN DE LOS CURSOS*/
.cursos__Main {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "hero hero" "onda onda" "consejo consejo" "cursos publi" "cursos2 lateral" "oferta oferta"; }

.cursos__Hero {
  grid-area: hero;
  height: 80vh;
  background-image: url(../assets/clasedecocina.jpg);
  background-position: cover;
  background-repeat: no-repeat; }

/*PAGINA DE CONTACTO*/
/*CUERPO DEL CONTACTO*/
.contacto__body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 100px auto auto;
  grid-template-areas: "nav" "titulo" "info1" "footer"; }

.contacto__Header {
  grid-area: nav;
  background-color: #070303;
  position: sticky;
  top: 0px;
  z-index: 99; }

.contacto__Div {
  grid-area: titulo;
  font-family: Koulen;
  font-size: 40px;
  padding: 10px;
  background-color: #bbb5b1;
  display: flex;
  justify-content: center;
  align-items: center; }

.main__Titulo--Contacto {
  font-size: 60px;
  padding: 15px; }

.contacto__Main {
  grid-area: info1;
  padding: 50px;
  background-image: url(../assets/imagenfondotexto.jpg); }

.contacto__Section {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.Section__Div {
  padding: 10px; }

.contacto__footer {
  grid-area: footer;
  background-color: black; }

.footer__Ul {
  text-align: center;
  font-size: 20px;
  font-family: koulen;
  color: beige;
  height: 100%;
  padding-top: 10px; }

.ul__Li {
  display: inline;
  padding: 0px 20px; }

/*MEDIA QUERIE (bajo)*/
@media screen and (max-width: 480px) {
  .contacto__body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "nav" "titulo" "info1" "footer"; }
  .contacto__Section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .Section__Div {
    padding: 5px; }
  .footer__Ul {
    text-align: center;
    font-size: 20px;
    font-family: koulen;
    color: beige;
    height: 100%;
    padding-top: 10px; }
  .footer__Ul {
    text-align: center;
    font-size: 10px;
    font-family: koulen;
    color: beige;
    height: 100%;
    padding-top: 10px; } }

.titulo1 {
  color: #37e031; }

.titulo2 {
  color: #fafd26; }

.titulo3 {
  color: #261BC8; }

.titulo4 {
  color: #CF4CA7; }

.publicidad__Div--Publi1 {
  background-image: url(../assets/Publi1.jpg);
  height: 10rem;
  background-position: center;
  background-size: cover;
  margin: 2rem; }

.publicidad__Div--Publi2 {
  background-image: url(../assets/Publi2.jpg);
  height: 10rem;
  background-position: center;
  background-size: cover;
  margin: 2rem; }

.publicidad__Div--Publi3 {
  background-image: url(../assets/Publi3.jpg);
  height: 10rem;
  background-position: center;
  background-size: cover;
  margin: 2rem; }

.publicidad__Div--Publi4 {
  background-image: url(../assets/Publi4.jpg);
  height: 10rem;
  background-position: center;
  background-size: cover;
  margin: 2rem; }

.publicidad__Div--Publi5 {
  background-image: url(../assets/Publi5.jpg);
  height: 10rem;
  background-position: center;
  background-size: cover;
  margin: 2rem; }

.publicidad__Div--Publi6 {
  background-image: url(../assets/Publi6.jpg);
  height: 10rem;
  background-position: center;
  background-size: cover;
  margin: 2rem; }
